.author-card {
	display: flex;
	flex-direction: column;
	padding: 10px;

	& > .avatar {
		border-radius: 50%;
		height: 100px;
		overflow: hidden;
		margin: 0 auto;
		width: 100px;
	}

	& > .avatar picture {
		display: block;
	}

	& > .avatar .image {
		display: block;
	}

	& > .content .meta {
		text-align: center;
	}

	& > .content .follow-link {
		padding: 10px 25px;
	}
}
