.follow-link {
	background-color: $follow-link-bg;
	border-radius: 50px;
	font-size: 0.875rem;
	line-height: 1.8;

	&:visited {
		color: $follow-link-txt;
	}

	.author-card & {
		display: inline-block;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 4px 25px 4px 4px;

		.icon {
			margin-right: 19px;
		}
	}
}
