.icon {
	display: inline-block;

	&__facebook {
		background: $chambray;
		border-radius: 50%;
		color: $white;
		height: 25px;
		margin-bottom: -1px;
		width: 25px;

		& svg {
			height: 12px;
			width: 100%;
		}
	}

	&__arrow {
		color: $link;
		width: 15px;

		.more & {
			color: $bio-arrow;
			height: 17px;
		}
	}

	.stories & svg {
		margin-bottom: -4px;
	}
}
