.stories {
	margin-bottom: 20px;
	margin-top: 34px;
	position: relative;

	&__trigger {
		color: $link;
	}

	&__dropdown {
		background-color: $stories-bg;
		display: none;
		list-style: none;
		margin: 0;
		padding: 5px 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	&__title {
		font-size: 0.875rem;
		font-weight: 400;
		padding: 5px 0;
	}
}
